.card-title {
    font-size:2.25rem;
    color: #17a2b8;
}
.hi{
    padding: 7rem;
    
}
.ok{
    font-size:1.5rem;
}
.hello{
    height: 315px;
}
.kk{
    padding:0.25rem;
}
.bb{
    height: 139px;
    width: 288px;
    margin-top: 10px;
}